* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  text-align: center;
}
.web-name,
ul,
a {
  all: unset;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(195, 231, 15, 0.723);
  padding: 20px;
  align-items: center;
}
.web-name {
  font-size: 28px;
  font-weight: 550;
  padding-left: 30px;
  margin-left: 20px;
}

ul {
  display: flex;
  gap: 30px;
  margin-right: 45px;
  font-size: 20px;
}
a{
  height: 100%;
  padding: 15px;
}
li {
  list-style: none;
  padding: 15px;
}
li.active {
  background-color: rgba(195, 231, 15, 0.723);
}
li:hover {
  background-color: rgba(174, 188, 103, 0.819);
  border-radius: 10px;
}
